<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
 <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
   <div class="row mt-4">
    <div class="col-lg-1"></div>
     <h3>新規登録</h3>
   </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">名前</div>
    <div class="col-lg-3"><%= f.text_field :name, autofocus: true, placeholder: "山田花子" %></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">年代</div>
    <div class="col-lg-3"><%= f.select :age, User.ages.keys.map {|k| [I18n.t("enums.user.age.#{k}"), k]}, include_blank: true %></div>
    <div class="col-lg-4"></div>
  </div>


  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">性別</div>
    <div class="col-lg-3"><%= f.select :sex, User.sexes.keys.map {|k| [I18n.t("enums.user.sex.#{k}"), k]}, include_blank: true %></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">説明文</div>
    <div class="col-lg-3"><%= f.text_area :introduction, placeholder: "自己紹介を一言どうぞ" %></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">電話番号</div>
    <div class="col-lg-3"><%= f.text_field :telephone, placeholder: "0000000" %></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">メールアドレス</div>
    <div class="col-lg-3"><%= f.email_field :email, placeholder: "sample@example.com" %></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">パスワード<% if @minimum_password_length %>
    (<%= @minimum_password_length %>文字以上)
    <% end %></div>
    <div class="col-lg-3"><%= f.password_field :password %></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">パスワード(確認用)</div>
    <div class="col-lg-3"><%= f.password_field :password_confirmation %></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row mb-6">
    <div class="col-lg-5"></div>
    <div class="col-lg-3"><%= f.submit "登録する", class: "btn btn-sm btn-success" %></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-6"><h5>ログインはこちらからどうぞ。<%= render "devise/shared/links" %></h5></div>
  </div>
 <% end %>
</div>

