<div class="container">
 <div class="row mt-4">
  <div class="col-lg-1"></div>
  <h3>ショップ編集</h3>
 </div>
 <%= form_with model: @shop, url: shop_path(@shop), method: :patch do |f| %>
  <div class="row mb-2">
   <div class="col-lg-3"></div>
   <div class="col-lg-2">ショップ名</div>
   <div class="col-lg-2"><%= f.text_field :name %></div>
  </div>
  <div class="row mb-2">
   <div class="col-lg-3"></div>
   <div class="col-lg-2">住所</div>
   <div class="col-lg-2"><%= f.text_field :address %></div>
  </div>
  <div class="row mb-2">
   <div class="col-lg-3"></div>
   <div class="col-lg-2">HP</div>
   <div class="col-lg-2"><%= f.text_field :shop_hp %></div>
  </div>
  <div class="row mb-2">
   <div class="col-lg-3"></div>
   <div class="col-lg-2">電話番号</div>
   <div class="col-lg-2"><%= f.text_field :telephone %></div>
  </div>
  <div class="row mb-2">
   <div class="col-lg-3"></div>
   <div class="col-lg-2">説明文</div>
   <div class="col-lg-2"><%= f.text_area :introduction %></div>
  </div>
  <div class="row mb-4">
   <div class="col-lg-3"></div>
   <div class="col-lg-2">画像</div>
   <div class="col-lg-2"><%= f.attachment_field :image %></div>
  </div>
  <div class="row mb-2">
   <div class="col-lg-3"></div>
   <div class="col-lg-2">タグ</div>
   <div class="col-lg-2">
    <div class="form-group">
 <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
  <div class="form-check">
    <%= tag.label class: "form-check-label" do %>
     <%= tag.check_box class: "form-check-input" %>
     <%= tag.text %>
    <% end %>
  </div>
 <% end %>
   </div>
  </div>
 </div>
 <div class="row mb-4">
   <div class="col-lg-3"></div>
   <div class="col-lg-2">タグの追加</div>
   <div class="col-lg-5"><%= f.text_field :tag, value: @shop.tags.pluck(:name) %>
   <small>,で区切ることで複数指定できます。</small></div>
  </div>
  <div class="row mb-2">
   <div class="col-lg-5"></div>
   <div class="col-lg-2"><%= f.submit '保存', class: "btn btn-sm btn-primary" %></div>
  </div>

 </div>

<% end %>