<%= form_with model: @shop do |f| %>
<h3>ショップ投稿</h3>
ショップ名
<%= f.text_field :name %><br>
住所
<%= f.text_field :address %><br>
HP
<%= f.text_field :shop_hp %><br>
電話番号
<%= f.text_field :telephone %><br>
説明文
<%= f.text_area :introduction %><br>
画像
<%= f.attachment_field :image %><br>
タグ
<div class="form-group">
 <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
  <div class="form-check">
    <%= tag.label class: "form-check-label" do %>
     <%= tag.check_box class: "form-check-input" %>
     <%= tag.text %>
    <% end %>
  </div>
 <% end %>
</div>
<%= f.text_field :tag, value: @shop.tags.pluck(:name) %>
<small>,で区切ることで複数指定できます。</small><br>
<% if current_user.is_admin? %>

<% else %>
<% end %>

<%= f.submit '投稿' %>


<% end %>