<%= form_with model: @shop do |f| %>
<h3>ショップリクエスト</h3>
ショップ名
<%= f.text_field :name %>
住所
<%= f.text_field :address %>
HP
<%= f.text_field :shop_hp %>
電話番号
<%= f.text_field :telephone %>
説明文
<%= f.text_area :introduction %>
画像
<%= f.attachment_field :image %>
<% if current_user.is_admin? %>

<% else %>
<% end %>

<%= f.submit '投稿' %>


<% end %>